<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mybloglastest.mapper.usersmapper">


    <resultMap id="BaseResultMap" type="com.spring.mybloglastest.model.users">

        <id property="id" column="id"/>
        <result column="username" property="username" />
        <result column="userpassword"  property="userpassword" />

    </resultMap>

    <sql id="Base_Column_List">


        id,username, userpassword
    </sql>

    <select id="selectByusername"  parameterType="java.lang.String" resultMap="BaseResultMap">

        select  <include refid="Base_Column_List" />
        from users
        where username = #{username,jdbcType=INTEGER}

    </select>
</mapper>