@font-face {
  font-family: "iconfont"; /* Project id 3667365 */
  src: url('iconfont.woff2?t=1663903351501') format('woff2'),
       url('iconfont.woff?t=1663903351501') format('woff'),
       url('iconfont.ttf?t=1663903351501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-B:before {
  content: "\e6ff";
}

.icon-B1:before {
  content: "\e705";
}

.icon-B2:before {
  content: "\e709";
}

