<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.blog.dao.usersmapper">


    <resultMap id="BaseResultMap" type="com.spring.blog.model.Users">

        <id property="id" column="id"/>
        <result column="username" property="username" />
        <result column="password"  property="password" />
        <result property="email" column="email"/>
        <result property="createTime" column="user_create_time"/>
        <result property="updateTime" column="user_update_time"/>
        <result property="role" column="role"/>
    </resultMap>

    <sql id="Base_Column_List">


        username,password
    </sql>

    <select id="selectByusername"  parameterType="java.lang.String" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List" />
        from users
        where username = #{username}

    </select>
</mapper>