<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>
            about
        </title>
        <link href="css/about.css" type="text/css" rel="stylesheet">
    </head>
<body>
    <div class="about">
        <h3 class="about_tit ">要不断的努力，才能成为更好的自己</h3>
    
        <div class='ribbon'>
            <a href='index.html'><span>Home</span></a>
            <a href='about.html'><span>About</span></a>
            <a href='form.html'><span>Form</span></a>
            <a href="log.html"><span>login</span></a>

        </div>
        <div class="me">
            <img class="me_img" src="video/re.jpg" alt="">
            <span class="me_tit animate ">我是一名大二的学生，平时爱好看看书，浏览网页资料，学习一下新知识，为以后毕业做些小打算。跟大多数人一样，对未来些许迷茫，当忽然之间脑海里闪现出来一些关于几年前的某个片段时，会情不自禁的回想那个时候的自己，关于那个曾经的所有点点滴滴也渐渐浮现出一些画面，突然拼命的想要去找一点在那个记忆点里的某些东西，寻找的过程中脑海里的思绪早已沉溺在回忆里面，忘了的还有那些忘不了的感触在这一刻全都涌了出来，我觉得最后寻找的结果或许已不重要了，因为这突如其来想要寻找的一些东西的念头，让自己突然变得好安静，莫名的思绪蔓延开来了，它又带我回到了现在已经体会不到的那种怦然心动的时候，仿佛打开了老旧的抽屉，里面装满了当初的成长，青涩，遗憾与那一种想起来会不禁忽然笑出来的感觉，可能想笑的是那时的自己，又或许是笑那带有遗憾结尾的时光，怀念真好。
                又一年即将过去了，生活一如既往的推着自己往前走，在行人眼里穿梭，而不时会回头看看的，还是那个仿佛不知在追逐着什么的自己，此刻的空气很好，它不会留下痕迹。
            </span>
        </div>
        <div class="videos">
            <span>如此来来往往，男孩32，女孩31岁了。时光以惊人的速度流逝。
                <br>
                四月一个晴朗的早晨，男孩为喝折价早咖啡沿原宿后街由西向东走，女孩为买快信邮票沿同一条街由东向西去，两人恰在路中间擦肩而过。失却记忆的微光刹那间照亮两颗心灵。
                <br>
                两人胸口陡然颤动，并且明白：
                <br>
                她就是我的百分百女孩。
                <br>
                他就是我的百分百男孩。
                <br>
                然而两人记忆的烛光实在过于微弱，两人的话语也不似十四年前那般清晰。结果连句话也没说便擦肩而过，径直消失在人群中，永远永远。
                <br>
                你不觉得这是个令人感伤的故事么？
                <br>
                是的，我本该这样向她搭话。                 </span>
            <video  class="vido1" width="800" controls id="video" preload="auto" height="200%" autoplay="autoplay"
             loop="loop" type="video/mp4" src="video/e30642bccad6bb437d460ff827b18239.MP4"></video>

        </div>
    </div>

    
</body>
</html>