<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>
            index
        </title>
        <link href="css/index.css" type="text/css" rel="stylesheet">
    </head>
<body>

    <div class="home">
        <div class="content">
            <div class="stars"></div>
            <img class="bgc" src="video/pic.jpg" width="100%" alt="">
            
            <h3 class="title" style="color: bisque;">欢迎来到我的个人网站</h3>
            <h3 class="titles"style="color:bisque">今天也要加油鸭</h3>
            <div class='ribbon'>
                <a href='index.html'><span>Home</span></a>
                <a href='about.html'><span>About</span></a>
                <a href='form.html'><span>Form</span></a>
                <a href="log.html"><span>login</span></a>
            </div>
        </div>
        <div class="icons">
        </div>
        <audio autoplay="autoplay" id="audio" loop="loop">
                <source src="video/qing.mp3" type="audio/MP3">
        </audio>
        <img class="music_img" width="500" src="video/music0.jpg" alt="">
    </div>

</body>

<script>
    let mucics = document.getElementById('audio')
    document.body.addEventListener('mousemove', function() {
        setTimeout(() => {
            mucics.play();
        }, 2000);
    }, false);
</script>

</html>
